/* Centrer le texte de l'entête */
header
{
text-align: center;
} 

/* Définir le format de la page */
html,body
{ 
    height:297mm; width:210mm;

    
}

/* couleur fond  */
body{
    background-color: rgb(255, 255, 255);
    }

/* couleur texte */

    .cyan-color{
        color: cyan;
    }

    body {
        margin: 0; /* pour éviter les marges */
}
#global {
        margin-left: auto;
        margin-right: auto;
        width;
}